#app-bar {
  box-sizing: border-box;
  height: var(--app-bar-height);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--primary);
  font-size: 2rem;
  padding: 1rem;
  font-weight: bold;
  z-index: 10;
  display: flex;
  justify-content: space-between;
}

#app-bar #logo-text {
  color: white !important;
}

#buttons-wrapper {
  display: inline-flex;
}

#buttons-wrapper a {
  text-decoration: none !important;
  font-size: 0;
}

#buttons-wrapper .button {
  color: white !important;
  border: 1px solid white !important;
  margin-left: 1rem;
  display: flex;
  height: 42px !important;
}

#buttons-wrapper .button.icon { 
  width: 42px;
}

#buttons-wrapper .button.icon:hover { 
  background-color: white;
  color: var(--primary) !important;
}