#login-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#login-form {
  display: flex;
  flex-direction: column;
  width: 500px;
  padding: 2rem 3rem 1rem 3rem;
  border: 1px solid var(--soft-grey);
  border-radius: var(--card-border-radius);
  margin-top: 1.5rem;
}

#login-form > * {
  margin-bottom: 2rem;
}

.error-snackbar-content {
  background-color: red !important; 
}

.success-snackbar-content {
  background-color: green !important;
}